body {
  background-color: burlywood;
}

.myDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tittle {
  text-align: center;
  margin: 10px;
  font-size: 70px;
  font-family: "Times New Roman", Times, serif;
  background-color: green;
}

.boton {
  border: 1, solid, lightgrey;
  background-color: transparent;
  padding: 10px;
  border-radius: 4px;
}
